<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">

    <!-- fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="/ccs/syless.css">
    <meta name="Viewport" content="width=device-with,initial-scale=1">
    <title>Document</title>

</head>

<body>
    <header>
        <div class="encabezado">
            <div class="columna-logo">


                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="">
            </div>

            <div class="columna-buscador">
                <form action="">

                    <input class="buscador" placeholder="productos,marcas" type="">

                    <input class="buscador" type="button" value="buscar">
                </form>
            </div>
        </div>
        <p class="titulo"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>
        <div class="navbar">

            <div class="columna">
                <ul>

                    <li type="none">
                        <a href="">Ofertas</a>
                    </li>
                    <li type="none">
                        <a href="">Tiendas Oficiales</a>
                    </li>
                    <li type="none">
                        <a href="">Vender</a>
                    </li>
                    <li class="navbar1" type="none">
                        <a href="">Ayuda</a>
                    </li>
                </ul>
            </div>
            <div class="columna1">
                <ul>
                    <li type="none"><i class="fa-sharp fa-solid fa-id-card" class="navbar2"></i>
                        <a href="/register">Crea tu cuenta</a>
                    </li>
                    <li type="none"><i class="fa-solid fa-right-to-bracket" class="navbar2"></i>
                        <a href="/login">Ingresa</a>
                    </li>
                    <li type="none"><i class="fa-solid fa-basket-shopping" class="navbar2"></i>
                        <a href="">Compras</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="burger-menu">
            <i id="buscador" class="fas fa-bars"></i>
        </div>

    </header>
    <div class="banner">

        <img src="/images/img-home-banner.jpg" alt="" class="img-banner">
    </div>
    <main>
        <section>
            <div class="titulo">

                <h3 class="negrita">Basado en tu ultima visita</h3>
            </div>
            <div class="padre">
                <article class="articulo">
                    <div>
                        <img class="imagenes" src="/images/img-cafetera-moulinex.jpg" alt="">
                        <div class="contenedor">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">6.770$</p>
                            <p class="descuento">40% off</p>
                            <h4 class="descripciones">Cafetera Moulinex</h4>
                        </div>
                </article>
                <article class="articulo">
                    <div>
                        <img class="imagenes" src="/images/img-macbook-pro-2019.jpg" alt="">
                        <div class="contenedor">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$230.000</p>
                            <p class="descuento">20% off</p>
                            <h4 class="descripciones">MacBook pro 2019</h4>
                        </div>
                    </div>
                </article>
                <article class="articulo">
                    <div>
                        <img class="imagenes" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                        <div class="contenedor">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$70.500 </p>
                            <p class="descuento">10% off</p>
                            <h4 class="descripciones">Samsung Galaxy s10</h4>
                        </div>
                    </div>
                </article>
                <article class="articulo">
                    <img class="imagenes" src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="contenedor">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">23.200$</p>
                        <p class="descuento">5% off</p>
                        <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <div class="titulo">

                <h3 class="negrita">Ofertas</h3>
            </div>
            <div class="padre">

                <article class="articulo">
                    <img class="imagenes" src="/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="contenedor">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">6.770$</p>
                        <p class="descuento">40% off</p>
                        <h4 class="descripciones">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article class="articulo">
                    <img class="imagenes" src="/images/img-macbook-pro-2019.jpg" alt="">
                    <div class="contenedor">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$230.000 </p>
                        <p class="descuento">20% off</p>
                        <h4 class="descripciones">MacBook pro 2019</h4>
                    </div>
                </article>
                <article class="articulo">
                    <img class="imagenes" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="contenedor">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$70.500 </p>
                        <p class="descuento">10% off</p>
                        <h4 class="descripciones">Samsung Galaxy s10</h4>
                    </div>
                </article>
                <article class="articulo">

                    <img class="imagenes" src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="contenedor">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuento">5% off</p>
                        <h4 class="descripciones">SmartTv samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="columna">

            <article>

                <i class="fa-solid fa-credit-card iconos-footer"></i>
                <div class="texto-footer">

                    <h4>Paga con tarjeta o en efectivo</h4>
                    <p>Con mercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro !</p>
                </div>
            </article>
        </div>
        <div class="columna">
            <article>


                <i class="fa-solid fa-gift iconos-footer"></i>
                <div class="texto-footer">

                    <h4>Envio gratis desde los $2500</h4>
                    <p>Solo por estar regristrad@ en MercadoLiebre tenes envios gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
                </div>
            </article>
        </div>
        <div class="columna">

            <article>


                <i class="fa-sharp fa-solid fa-user-shield iconos-footer"></i>
                <div class="texto-footer"> 

                    <h4>Seguridad de principio a fin</h4>
                    <p>no te gusta ? devolvelo! En mercadoLiebre no hay nada que no puedas hacer porque estas siempre
                        protegid@</p>
                    </div>
                
            </article>
        </div>
    </footer>
    <div class="copyright">
        <p class="txt-copy">Copyright derechos reservados ?</p>
    </div>
    <script src="https://kit.fontawesome.com/b45e09cb94.js" crossorigin="anonymous"></script>
</body>

</html>