<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/ccs/syless.css">
</head>

<body>
    <header>
        <div class="encabezado">
            <div class="columna-logo">

                
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="">
            </div>
            
            <div class="columna-buscador">
                <input class="buscador"placeholder="productos,marcas" type="">
                
                <input class="buscador"type="button" value="buscar">
            </div>
        </div>
        <p class="titulo"><i class="fa-solid fa-hand-holding-dollar" ></i>Compra en cuotas y sin tarjeta de credito</p>
        <div class="navbar">
            
            <div class="columna">
                <ul>
                    
                <li type="none">
                    <a href="">Ofertas</a>
                </li>
                <li type="none">
                    <a href="">Tiendas Oficiales</a>
                </li>
                <li type="none">
                    <a href="">Vender</a>
                </li>
                <li class="navbar1" type="none">
                    <a href="">Ayuda</a>
                </li>
                </ul>
            </div>
            <div class="columna1">
                <ul>
                    <li type="none"><i class="fa-sharp fa-solid fa-id-card" class="navbar2"></i>
                    <a href="/register">Crea tu cuenta</a>
                </li>
                <li type="none"><i class="fa-solid fa-right-to-bracket"class="navbar2"></i>
                    <a href="/login">Ingresa</a>
                </li>
                <li type="none"><i class="fa-solid fa-basket-shopping"class="navbar2"></i>
                    <a href="">Compras</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="burger-menu">
            <i id="buscador" class="fas fa-bars"></i>
        </div>

    </header>
    <form action="/" method="get">
        <div class="form-log">

            <div class="input">
                <input class="input-log"name="usuario" type="text" minlength="4" maxlength="12" required placeholder="Nombre de usuario">
            </div>
            <div class="input">
                <input class="input-log"type="password" placeholder="Contraseña">
                
            </div>
            <div class="block" >
                <input href="/" type="submit" value="Enviar" class="input-log send">
                
                
            </div>
            
            
            
        </div>
    </form>
    <footer class="footer">
        <div class="columna">

            <article>
                
                    <i class="fa-solid fa-credit-card iconos-footer"></i>
                
                <h4>Paga con tarjeta o en efectivo</h4>
                <p>Con mercadoLiebreCash tenes cuotas sin interes</p>
            </article>
        </div>
        <div class="columna">
        <article>

                
                    <i class="fa-solid fa-gift iconos-footer"></i>
                
                <h4>Envio gratis desde los $2500</h4>
                <p>solo por estar regristrado</p>
            </article>
        </div>
        <div class="columna">

            <article>
                
                    
                    <i class="fa-sharp fa-solid fa-user-shield iconos-footer"></i>
                
                <h4>Seguridad de principio a fin</h4>
                <p>no te gusta ? devolvelo! En mercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@
                </p>
            </article>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/b45e09cb94.js" crossorigin="anonymous"></script>
</body>

</html>