<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/ccs/syless.css">
</head>

<body>
    <div class="body-register">

        <div class="form">
            
            <form action="/" method="get">
                <div class="formulario">
                <div>
                    <a href="/">Volver</a>
                </div>
                <div class="input">                  
                    <input name="text" type="text" placeholder="Nombre y apellido">
                </div>
                <div class="input">
                    <input name="usuario" type="text" minlength="4" maxlength="12" required placeholder="Nombre de usuario">
                </div>
                <div>
                    <input type="email" name="email" placeholder="E-mail">
                </div>
                <div class="input">
                    <label for="fecha" class="block">Fecha de nacimiento</label>
                    <input name="fecha" type="date">
                </div>
                <div class="input">
                    <label for="domicilio" class="block">Domicilio</label>
                    <input name="domicilio" type="text">
                </div>
                <div >
                    
                    <label for="perfil" class="block" class="input">Perfil de usuario</label>
                    
                    <input name="perfil" type="radio" value="comprar">
                    <label for="perfil" >Comprador</label>
                    <input name="perfil" type="radio" value="vender">
                    <label for="perfil" >Vendedor</label>
                    
                </div>
                <div class="input">
                    
                    <label for="" class="block">Intereses</label>
                    
                    
                    
                    <div class="block">
                        <input type="checkbox" name="electro">
                        <label for="electro">Electro</label>
                        
                    </div>
                    <div class="block">
                        <input type="checkbox" name="moda">
                        <label for="moda">Moda</label>
                        
                    </div>
                    <div class="block">
                        <input type="checkbox" name="hogar">
                        <label for="hogar">Hogar</label>
                        
                    </div>
                    <div class="block">
                        <input type="checkbox" name="jugueteria">
                        <label for="jugueteria">Jugueteria</label>
                        
                    </div>
                    <div class="block">
                        <input type="checkbox" name="sana">
                        <label for="saca">Vida sana</label>
                        
                    </div>
                    
                </div>
                <div class="input">
                    <label for="file" class="block">Foto de usuario</label>
                    <input type="file" accept=".jpg">
                </div>
            <div>
                <label for="contraseña" class="block">Ingresa tu contraseña</label>
                
                <input type="password">
            </div>
            <div class="input">
                <label for="confirmacion" class="block">Confirmar contraseña</label>
                
                <input type="password">
                
            </div>
            <div class="enviar" class="block">
                    <input href="/" type="submit" value="Enviar">
                    <input type="reset" name="" id="">
                    
                </div>
                
                
                
                
                
                
                
                
            </div>
        </form>
    </div>
    
</div>
<footer class="footer">
    <div class="columna">

        <article>

            <i class="fa-solid fa-credit-card iconos-footer"></i>
            <div class="texto-footer">

                <h4>Paga con tarjeta o en efectivo</h4>
                <p>Con mercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro !</p>
            </div>
        </article>
    </div>
    <div class="columna">
        <article>


            <i class="fa-solid fa-gift iconos-footer"></i>
            <div class="texto-footer">

                <h4>Envio gratis desde los $2500</h4>
                <p>Solo por estar regristrad@ en MercadoLiebre tenes envios gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
            </div>
        </article>
    </div>
    <div class="columna">

        <article>


            <i class="fa-sharp fa-solid fa-user-shield iconos-footer"></i>
            <div class="texto-footer"> 

                <h4>Seguridad de principio a fin</h4>
                <p>no te gusta ? devolvelo! En mercadoLiebre no hay nada que no puedas hacer porque estas siempre
                    protegid@</p>
                </div>
            
        </article>
    </div>
</footer>
<script src="https://kit.fontawesome.com/b45e09cb94.js" crossorigin="anonymous"></script>
</body>

</html>